<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>GUI Tool</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/assets/css/css_comment_form.css" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<!-- Estilo añadido para los message box -->
		<style type="text/css">
			/* The alert message box */
			.alert {
			    padding: 20px;
			    background-color: #f44336;
			    color: white;
			    margin-bottom: 15px;
			}
			.good {
			    padding: 20px;
			    background-color: #4CAF50;
			    color: white;
			    margin-bottom: 15px;
			}
			/* The close button */
			.closebtn {
			    margin-left: 15px;
			    color: white;
			    font-weight: bold;
			    float: right;
			    font-size: 22px;
			    line-height: 20px;
			    cursor: pointer;
			    transition: 0.3s;
			}
			/* When moving the mouse over the close button */
			.closebtn:hover {
			    color: black;
		}
			{% block morestyle %}{% endblock %}
		</style>
		{% block tags %}{% endblock %}

	</head>
	<body>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<div id="main">
						<div class="inner">
							<!-- Header -->
								<header id="header">
									<a href="/base" class="logo">
										<strong>{% block titulo_barra %}GUI Tool for Linux Sys Admin{% endblock %}</strong> by Marc Serra Hidalgo
									</a>
									<ul class="icons">
										<li>
											<a href="https://gitlab.com/isx41745190/guitool" style="text-decoration:none;" target="_blank">
												<img src="/static/images/gitlab.png" alt='gitlab' width="26px" height="26px">
											</a>
										</li>
										<li>
											<a href="https://git-scm.com/docs" style="text-decoration:none;" target="_blank">
												<img src="/static/images/git.png" alt='git' width="26px" height="26px">
											</a>
										</li>
									</ul>
								</header>
							<!-- Content -->
								<section>
								{% block content %}
									<h1 style="text-align: center;">Hi, Root!</h1>
									<h2 style="font-size:110%; text-align: center;">Bienvenido a la herramienta GUI Tool For Linux System Adminsitration.</h2>
									<p style="text-align: center;"> Elige una herramienta de la lista del menu izquierdo para empezar o utiliza el buscador para encontrar la herramienta deseada.</p>
									<p style="text-align:center;">
										<img src="/static/images/python.png" height="250" alt="" width="250"/>
										<img src="http://www.unixstickers.com/image/data/stickers/django/django.sh.png" height="250" alt="" width="250"/>
									</p>
								{% endblock %}
								</section>
						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">
							<!-- Search -->
								<section id="search" class="alt" style="margin-bottom: 5px;">
									<form method="get" action="/search_tool/">
										<input type="text" name="query" id="query" placeholder="Busca tu herramienta..." />
									</form>
								</section>

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li>
											<a href="/base">Inicio</a>
										</li>
										<li>
											<span class="opener">Herramientas simples</span>
											<ul>
												<li>
													<a href="/create_user">Crear un usuario</a>
												</li>
												<li>
													<a href="/create_backup">Crear una rutina de backup</a>
												</li>
											</ul>
										</li>
										<li>
											<span class="opener">Herramientas Complejas</span>
											<ul>
												<li>
													<a href="/create_docker">Crear un Docker</a>
												</li>
												<li>
													<a href="/create_bbdd">Crear una BBDD psql</a>
												</li>
											</ul>
										</li>										
									</ul>
								</nav>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Citas computacionales</h2>
									</header>
									<div class="mini-posts">
										{% for cita in citas %}
										<article>
											<p>{{cita.0}}</p>
											<p><i>{{cita.1}}</i></p>
										</article>
										{% endfor %}
									</div>
								</section>
						</div>
					</div>
			</div>
		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/skel.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>
	</body>
</html>