{% extends 'generic.html' %}
{% block morestyle %}


input[type=text], select, input[type=password]{
    width: 20%;
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

hr {
margin-top: 10px;
margin-bottom: 10px;
}
	
div.sub {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;

}

div.so {
	display: inline-block;
	margin-top: 10px;
}

div.caampo {
	
	display: inline-flex
}

label {
	margin: 0;
	margin-top: 0px;
}

input[type=submit]{
	
	margin-top: 20px;
}

div.so p {
	
	width: 190px;
	align-self: center;
}

input[type=file]{
	display: initial;
	margin-top: 5px;
}

img {
	
	vertical-align: middle;
	margin-right: 8px;
	margin-left: 25px;
}

input[type=checkbox]{	
	margin-right: 10px;
}

div.options p{

	align-self: end;
	text-align:left;
	margin-right: 10px;
}

label.apartado {
	font-variant: small-caps;
	font-size: 15px;
	color: teal;
}

select {
	width: 14%;
	font-size:13px;
	height: auto;
	margin-left: 5px;
}

{% endblock %}
{% block tags %}
{% endblock %}
{% block titulo_barra %}Crear una BBDD psql{% endblock %}

{% block ejecucion %}
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="sub">
		<div id="a">
			{% if messages %}
				{% if messages.1 == 'bad' %}
				<div class="alert">
				{% else %}
				<div class="good">
				{% endif %}
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
				{{ messages.0 }}
				</div>
			{% endif %}
			<input type="submit" name="restart" style="float:right; margin-top: 0px; color: #f56a6a!important; box-shadow: inset 0 0 0 2px #f56a6a" value="Borrar todo">
			<br/>
			<br/>
			<label class="apartado">1. Nombre de la BBDD*</label>
			{% if not bbdd %}
			<input type="text" name="bbdd_name" autocomplete="off"/>
			{% else %}
			<input type="text" name="bbdd_name" value={{bbdd}} disabled autocomplete="off"/>			
			{% endif %}
			<p style="font-size: 11px;">¡Cuidado! Si esta BBDD ya existe será modificada.</p>
			<hr/>
			<label class="apartado">2. Añade/Borra tablas:</label>
			<p style="font-size: 11px;">Nombre:</p>
			<input type="text" name="add_table_name">
			<p style="font-size: 11px; margin-top: 5px;">Campos (separados por espacio):</p>
			<input type="text" name="add_table_campos">
			<br>
			<input type="submit" name="add_table" value="Añadir tabla">
			<input type="submit" name="delete_table" style="color: #f56a6a!important; box-shadow: inset 0 0 0 2px #f56a6a" value="Borrar tabla">


			<div>
				{% if bbdd %}
				<hr/>
				<label class="apartado">3. Modifica los campos y, al final, añade las FK</label>
				{% endif %}
				{% for table, campos in tables.items %}
					<div class="taable">
						<label>TABLA: {{table}}</label>
						<input type="text" name="tables:" style="display: none;" value="{{table}}" />
							{% for campo in campos %}
								<div class="caampo" style="width: 110%;">
									<input style="width: 15%; border-radius: 0px; font-weight: bold; background: papayawhip;" type="text" readonly value="{{campo}}" name="{{table}}:campos:"/>
									<select name="{{table}}:{{campo}}:tipo">
										{% for k,v in campos.items %}
											{% if k == campo %}
												{% for k,v in v.items %}
													{% if k == 'tipo' %}
														{% if v.0 == 'int' %}
															<option selected value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'varchar' %}
															<option value="integer">Integer</option>
															<option selected value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'float' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option selected value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'serial' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option selected value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'date' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option selected value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'timestamp' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option selected value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'boolean' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option selected value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% elif v.0 == 'text' %}		
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option selected value="text">Text</option>
														{% else %}
															<option value="integer">Integer</option>
															<option value="varchar">Varchar</option>
															<option value="float">Float</option>
															<option value="serial">Serial</option>
															<option value="date">Date</option>
															<option value="timestamp">Timestamp</option>
															<option value="boolean">Boolean</option>
															<option value="text">Text</option>
														{% endif %}
													{% endif %}
												{% endfor %}
											{% endif %}
										{% endfor %}
									</select>
									<div class="options" style="align-self: auto; display: flex; margin-left: 5px;">
										{% for k,v in campos.items %}
											{% if k == campo %}
												{% for k,v in v.items %}
													{% if k == 'pk' %}
														{% if v.0 == campo %}
														<input style="margin-right: 10px" type="radio" value="{{campo}}" checked name="{{table}}:otros:pk"/><p>PK</p>
														{% else %}
														<input style="margin-right: 10px" type="radio" value="{{campo}}" name="{{table}}:otros:pk"/><p>PK</p>
														{% endif %}
													{% endif %}												
												{% endfor %}
											{% endif %}
										{% endfor %}
										{% for k,v in campos.items %}
											{% if k == campo %}
												{% for k,v in v.items %}
													{% if k == 'uk' %}
														{% if v.0 == 'on' %}
														<input type="checkbox" checked="" name="{{table}}:{{campo}}:otros:uk"/><p>Unique</p>
														{% else %}
														<input type="checkbox" name="{{table}}:{{campo}}:otros:uk"/><p>Unique</p>
														{% endif %}
													{% endif %}										
												{% endfor %}
											{% endif %}
										{% endfor %}
										{% for k,v in campos.items %}
											{% if k == campo %}
												{% for k,v in v.items %}
													{% if k == 'nn' %}
														{% if v.0 == 'on' %}
														<input type="checkbox" checked="" name="{{table}}:{{campo}}:otros:nn"/><p>Not Null</p>
														{% else %}
														<input type="checkbox" name="{{table}}:{{campo}}:otros:nn"/><p>Not Null</p>
														{% endif %}
													{% endif %}										
												{% endfor %}
											{% endif %}
										{% endfor %}			
										<input class="fk_check" onclick="myFunction()" type="checkbox"/><p>FK: </p>
										<select style="visibility:hidden; width: 200px;" class="fk_select" name="{{table}}:{{campo}}:otros:fk">
											<option disabled selected value> -- campo referenciado -- </option>
											{% for table2,campos in tables.items %}
											{% for campo,opcion in campos.items %}
											<!-- Per controlar que nomes es pugui fer FK de camps PK o UK i de es que no son de sa mateixa taula-->
											{% if table2 != table %}
											{% if opcion.pk.0 == campo or opcion.uk.0 == 'on' %}
											<option value="{{table2}}:{{campo}}">{{table2}}: {{campo}}</option>
											{% endif %}
											{% endif %}
											{% endfor %}
											{% endfor %}
										</select>
									</div>
								</div>
							{% endfor %}
					</div>
				{% endfor %}
				<input type="image" value=" " src="http://pngimages.net/sites/default/files/reload-png-image-17632.png" name="refresh" width="20px;" height="20px;" style="margin-top: 10px;"><p style="font-size: 10px;" >Actualizar/Guardar</p>

			</div>
			<hr/>
			<label class="apartado">4. Crea la BBDD o descargate el script</label>
			<input type="submit" name="Get_script" value="Obtener script" style="width:200px">
			</br>
			</br>
			<input type="text" name="user" placeholder="PSQL USER" autocomplete="off"/>
			<input type="password" name="password" placeholder="PSQL PASSWORD" autocomplete="off"/>
			</br>
			<input type="submit" name="Go" value="Crear BBDD" style="width:200px">
		</div>
	</div>
</form>

<!-- For show select when check fk checkbox -->

<script type="text/javascript">
function myFunction() {

var checkBox =  document.getElementsByClassName("fk_check");
var text =  document.getElementsByClassName("fk_select");

	for(var i = 0; i < checkBox.length; i++){
	  if (checkBox[i].checked == true){
	    text[i].style.visibility = "visible";
	  } else {
	    text[i].style.visibility = "hidden";
	  }
	}
}
</script>

<!-- Para prevenir que se envie formulario con enter -->
<script type="text/javascript">
function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
}
document.onkeypress = stopRKey;
</script> 

<!-- Perque si pos PK, unique seria redundant, deshabilitar -->
<!-- <script type="text/javascript">
function myFunction() {

var checkBox =  document.getElementsByClassName("fk_check");
var text =  document.getElementsByClassName("fk_select");

	for(var i = 0; i < checkBox.length; i++){
	  if (checkBox[i].checked == true){
	    text[i].style.visibility = "visible";
	  } else {
	    text[i].style.visibility = "hidden";
	  }
	}
}
</script> 
 -->
{% endblock %}

{% block descripcion %}Herramienta que permite crear una BBDD psql desde 0. Se permite especificar sus tablas con campos, sus relaciones, asi como obtener el script o instalarlo directo en el psql. Consulta el apartado de esta herramienta en la documentacion para mas informacion.{% endblock %}

