{% extends 'generic.html' %}
{% block morestyle %}

input[type=text], select, input[type=password]{
    width: 50%;
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
	
div.createbackup {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;

}
div.so {
	
	width: 250px;
	align-self: center;
	display: inline-block;
	margin-left: 20px;
}


label {
	margin: 0;
	margin-top: 15px;
}

input[type=submit]{
	
	margin-top: 20px;
}

input[type="file"]{
	display: inline;
}

{% endblock %}
{% block tags %}
{% endblock %}
{% block titulo_barra %}Crear una rutina de backup{% endblock %}

{% block ejecucion %}
<form action="#" method="get" >
<div class="createbackup">
	<div>
	{% if messages %}
		{% if messages.1 == 'bad' %}
		<div class="alert">
		{% else %}
		<div class="good">
		{% endif %}
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
		{{ messages.0 }}
		</div>
	{% endif %}
	<img src="http://www.isavel.es/images/backup/backup.png" width="50px" height="50px"/>
	<label>Ruta absoluta del directorio*</label>
	<input type="text" name="directorio" autocomplete="off"/>
	<label>Selecciona el timing deseado*</label>
	<select name="timing" style="height:55px; margin-bottom: 20px;">
		<option value="dia">Cada dia</option>
		<option value="semana">Cada semana</option>
		<option value="mes">Cada mes</option>
	</select>
    <br/>
	<div class="so">
	        <input type="checkbox" name="ahora" value="yes"/><p style="margin-left: 15px;">Crear primer backup ahora</p>
    </div>
    <br/>
	<input type="submit" name="Go" value="Crear Backup" style="width:200px">
	</div>
</div>
</form>
{% endblock %}

{% block descripcion %}Herramienta que permite crear una rutina de backup en el sistema. Se permite especificar el directorio en cuestion. Se permite especificar cual sera el timing deseado. Se permite especificar si se desea crear el primer backup ahora mismo. Todos los backups se guardan en un directorio creado durante la instalacion. Este directorio se llama Backups_guitool i se encuentra en el home de root. Consulta el apartado de esta herramienta en la documentacion para mas informacion.{% endblock %}

