{% extends 'generic.html' %}
{% block morestyle %}

input[type=text], select, input[type=password]{
    width: 50%;
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}
	
div.sub {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align:center;

}

div.so {
	display: inline-block;
	margin-top: 10px;
}


label {
	margin: 0;
	margin-top: 15px;
}

input[type=submit]{
	
	margin-top: 20px;
}

div.so p {
	
	width: 190px;
	align-self: center;
}

input[type=file]{
	display: initial;
	margin-top: 5px;
}

img {
	
	vertical-align: middle;
	margin-right: 8px;
	margin-left: 25px;
}

{% endblock %}
{% block tags %}
{% endblock %}
{% block titulo_barra %}Crear un container Docker{% endblock %}

{% block ejecucion %}
<form action="#" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="sub">
	<div>
		{% if messages %}
			{% if messages.1 == 'bad' %}
			<div class="alert">
			{% else %}
			<div class="good">
			{% endif %}
			<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
			{{ messages.0 }}
			</div>
		{% endif %}
		<label>Base del container*</label>
	<div class="so">
		<p><img src="/static/images/fedora.png" height="30" alt="" width="30"/><input type="radio" name="so_base" value="fedora:28">Fedora 28</p>
		<p><img src="/static/images/ubuntu.png" height="30" alt="" width="30"/><input type="radio" name="so_base" value="ubuntu:16.04">Ubuntu 16</p>
		<p><img src="/static/images/debian.png" height="30" alt="" width="30"/><input type="radio" name="so_base" value="debian:7-slim">Debian 7-S</p>
		<p><img src="/static/images/opensuse.png" height="30" alt="" width="30"/><input type="radio" name="so_base" value="opensuse:42.3">OpenSuse 42</p>
		<div style="display: inline-block;">
			<p style="width:190px;"><input onclick="show2();" type="radio" id="other_check" name="so_base" value="otra">Otra:</p>
			<div style="display: none; width: 190px" id="other_text">
			<input style="width: 190px;" type="text"  name="base_other" autocomplete="off"/>
			<p id="other_label" style="font-size: 10px; display: none; ">Con esta opcion activa, puede que no se puedan instalar los paquetes deseados</p> 
			</div>
			<br>
		</div>
	</div>
	<label>Nombre del container*</label>
	<input type="text" name="name" autocomplete="off"/>
	<label>Hostname*</label>
	<input type="text" name="hostname"" autocomplete="off"/>
	<label>Subnet</label>
	<select name="network" style="height:55px;">
	{% for network in networks %}
	  <option value="{{ network }}">{{ network }}</option>
	{% endfor %}	
	</select>	
	<label id="paquetes_label">Paquetes a instalar por defecto</label>
	<select multiple='multiple' id="paquetes" name="paquetes" style="height:100px;">
	  	<option value="basic_utils">Herramientas basicas (man-db, mlocate, tree, vim..)</option>
	  	<option value="net_utils">Herramientas de redes (nmap, telnet, iputils, iproute..)</option>
	  	<option value="ssh">Paquete ssh (openssh openssh-server openssh-clients..)</option>
	  	<option value="xinetd">Paquete Xinetd</option>
	</select>
	<label>Directorio de trabajo</label>
	<input type="text" name="workdir" autocomplete="off"/>
	<label>Otras opciones</label>
	<input type="file" name="files" multiple>
	<div style="display: inline-block;">
	        <input style="margin-right: 15px;" type="checkbox" name="privileged" value="true"/>Privileged
    </div>	
	<br/>
	<input type="submit" name="Go" value="Crear Container" style="width:200px">
	</div>
</div>
</form>
<script type="text/javascript">
function show2(){
  document.getElementById('other_text').style.display = 'table-cell';
  document.getElementById('other_label').style.display = 'table-cell';
}
</script>
{% endblock %}

{% block descripcion %}Herramienta que permite crear un contenedor de Docker con ciertas caracteristicas. Se permite especificar la imagen base a partir de la cual se generara el container (predefinida o propia). Se permite especificar cual sera su nombre y hostname. Se permite especificar a que red pertenecera. Se permite especificar que paquetes desea que lleve instalados por defecto. Se permiten elegir los ficheros que se incluiran en el docker asi como si serà un Docker privileged o no. Consulta el apartado de esta herramienta en la documentacion para mas informacion.{% endblock %}

